<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>

<style type="text/css">
	body{
		background-color: blue;
	}
</style>
</head>
<body>
		<h2 style="background-color: green;">Please Enter the Details for registration</h2>
		<form action="/register1", method = "post">
			<input type="text" name="NAME" placeholder="NAME" required = "">
			<input type="email" name="EMAIL" placeholder="EMAIL" required = "">
			<input type="password" name="PASSWORD" placeholder="PASSWORD" required = "">
			<button>Register</button>
			
		</form>
		{{pred}}

</body>
</html>